.modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
  }
  
  .modal-dialog {
    margin: 10% auto;
  }
  
  .modal.show .modal-dialog {
    transition: transform 0.3s ease-out;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 1.5rem;
  }
  
  .close {
    cursor: pointer;
  }
  /* styles.css or your component's CSS file */
.status-pending {
    color: orange; /* Warning color for pending status */
}

.status-accepted {
    color: green; /* Success color for accepted status */
}
