<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-sm-4">
                <div class="search-box me-2 mb-2 d-inline-block">
                  <div class="position-relative">
                    <input type="text" class="form-control" autocomplete="off" id="searchTableList" placeholder="Search..." [(ngModel)]="searchTerm">
                    <i class="bx bx-search-alt search-icon"></i>
                  </div>
                </div>
              </div>
  
              
            </div>
  
            <div class="table-responsive mb-0">
              <table class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check" id="order-list">
                <thead>
                  <tr>
                    
                    <th>Order ID</th>
                    <th>Description</th>
                    <th>Domaine</th>
                    <th>Number of Posts</th>
                    <th>Study Level</th>
                    <th>Experience</th>
                    <th>City</th>
                    <th>Deadline</th>
                    <th>Status</th>
                    <th>Contract Type</th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let offre of offres; let i = index;" id="o_{{offre.id}}">
                    <td>
                      <div class="form-check font-size-16">
                        <input class="form-check-input" type="checkbox" id="transactionCheck{{offre.index}}" value="{{offre.id}}" [(ngModel)]="offre.state">
                        <label class="form-check-label" for="transactionCheck{{offre.index}}"></label>
                      </div>
                    </td>
                    
                    <td>{{offre.description}}</td>
                    <td>{{offre.domaine}}</td>
                    <td>{{offre.nbPoste}}</td>
                    <td>{{offre.nvEtude}}</td>
                    <td>{{offre.experience}}</td>
                    <td>{{offre.ville}}</td>
                    <td>{{offre.limite}}</td>
                    <td>{{offre.status}}</td>
                    <td>{{offre.contractType}}</td>
                    
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive mb-0">
      <table class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check" id="reclamations-list">
        <thead>
          <tr>
            
            <th>Content</th>
            <th>Response</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reclamation of reclamations">
            
            <td>{{ reclamation.content }}</td>
            <td>{{reclamation.response}}</td>
            <td [ngClass]="{
              'status-pending': reclamation.status === 'Pending',
              'status-accepted': reclamation.status === 'Opened'
            }">
          {{ reclamation.status }}
        </td>
        
            <td>
              <button class="btn btn-primary" (click)="openModal(reclamation.id)" *ngIf="!reclamation.response" >
                Reply
              </button>
              <button class="btn btn-danger " style="margin-left: 1rem;" (click)="onDeleteReclamation(reclamation.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  
  
  


<!-- Table for Reclamations -->


<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" *ngIf="isModalOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Respond to Reclamation</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="responseForm">
          <div class="form-group">
            <label for="candidatMessage">Candidat Message</label>
            <textarea id="candidatMessage" class="form-control" [value]="selectedReclamation?.content" readonly></textarea>
          </div>
          <div class="form-group">
            <label for="adminResponse">Your Response</label>
            <input type="text" id="adminResponse" formControlName="adminResponse" class="form-control" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitResponse()">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>




  
  
  
  