<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" autocomplete="off" id="searchTableList" placeholder="Search..." [(ngModel)]="searchTerm">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="text-sm-end">
                <button *ngIf="userRole === 'recruteur'" type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal()"><i class="mdi mdi-plus mr-1"></i>
                  Add New offre</button>
              </div>
            </div>
          </div>

          <div class="table-responsive mb-0">
            <table class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check" id="order-list">
              <thead>
                <tr>
                  
                  <th>Order ID</th>
                  <th>Description</th>
                  <th>Domaine</th>
                  <th>Number of Posts</th>
                  <th>Study Level</th>
                  <th>Experience</th>
                  <th>City</th>
                  <th>Deadline</th>
                  <th>Status</th>
                  <th>Contract Type</th>
                  
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let offre of offres| filter: searchTerm;; let i = index;" id="o_{{offre.id}}">
                  
                  <td>
                    <a href="javascript: void(0);" class="text-body fw-bold">{{offre.id}}</a>
                  </td>
                  <td>{{offre.description}}</td>
                  <td>{{offre.domaine}}</td>
                  <td>{{offre.nbPoste}}</td>
                  <td>{{offre.nvEtude}}</td>
                  <td>{{offre.experience}}</td>
                  <td>{{offre.ville}}</td>
                  <td>{{offre.limite}}</td>
                  <td>{{offre.status}}</td>
                  <td>{{offre.contractType}}</td>
                  
                  <td>
                    <div  class="d-flex gap-3">
                      <a *ngIf="isAdmin" href="javascript:void(0);" class="text-success" (click)="acceptOffre(offre.id)"><i class="mdi mdi-pencil font-size-18"></i></a>
                      <a  href="javascript:void(0);" class="text-danger" (click)="deleteOffre(offre.id)"><i class="mdi mdi-delete font-size-18"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid">


  <!-- Modal -->
  <div id="createOffreModal" class="modal" [ngClass]="{'show': isModalOpen}">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h4>Add New Offre</h4>
      <form [formGroup]="offreForm" (ngSubmit)="createOffre()">
        <!-- Form fields -->
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" formControlName="description" id="description" class="form-control">
        </div>
        <div class="form-group">
          <label for="domaine">Domaine</label>
          <input type="text" formControlName="domaine" id="domaine" class="form-control">
        </div>
        <div class="form-group">
          <label for="nbPoste">Number of Posts</label>
          <input type="text" formControlName="nbPoste" id="nb_poste" class="form-control">
        </div>
        <div class="form-group">
          <label for="nvEtude">Study Level</label>
          <input type="text" formControlName="nvEtude" id="nv_etude" class="form-control">
        </div>
        <div class="form-group">
          <label for="experience">Experience</label>
          <input type="text" formControlName="experience" id="experience" class="form-control">
        </div>
        <div class="form-group">
          <label for="ville">City</label>
          <input type="text" formControlName="ville" id="ville" class="form-control">
        </div>
        <div class="form-group">
          <label for="limite">Deadline</label>
          <input type="datetime-local" formControlName="limite" id="limite" class="form-control">
        </div>
        <div class="form-group">
          <label for="contractType">Contract Type</label>
          <input type="text" formControlName="contractType" id="contractType" class="form-control">
        </div>
        <div class="form-group">
          <label for="recruteur">Recruteur</label>
          <input type="number" formControlName="recruteur" id="recruteur" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!offreForm.valid">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        </div>
      </form>
    </div>
  </div>
  
